.videos-section-title {
    margin: 10px;
    font-weight: 200;
}

p {
    margin-left: 10px;
    color: #666;
}

hr {
    margin: 20px;
}

form {
    margin-left: 10px;
    button {
        margin-left: 5px;
    }
}

button.black {
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 200;
    color: #fff;
    background-color: #121212;
    border-radius: 4px;
    padding: 5px 10px;
    border: 0;
    transition: all 0.2s ease;
    cursor: pointer;
}

button.black:hover {
    background-color: #b1b1b1;
}

.video-container {
    position: relative;
    width: calc(33% - 20px);
    margin: 10px 10px 40px 10px;
    padding-bottom: calc(20% - 20px);
    height: 0;
    display: inline-block;
    /*overflow: hidden;*/

    h1 {
        margin: 0;
        font-size: 16px;
        font-weight: 300;
    }

    button {
        margin-top: calc(50% + 5px);
    }

    iframe,
    object,
    embed {
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: calc(100% - 20px);
        overflow: hidden;
        border-radius: 2px;
    }
}
